@import url('https://fonts.googleapis.com/css2?family=Poppins:weight:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 10vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--clr-color-background);
}

/* creating a collection of all the colors */
:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
}
/* for dark theme when click on sunlight and dark mode */
.dark-theme-variables{
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

.Container {
    display: grid;
    width: 96%;
    gap: 1.8 rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.danger {
    color: var(--clr-danger);
}

.warning {
    color: var(--clr-warning);
}

/* aside */

.left-side {
    height: 100vh;
    margin: 0 10px 0 0px;
    /*created*/
}

.left-side .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;

}

.left-side .logo {
    display: flex;
    gap: 1rem;

}

.logo span {
    color: var(--clr-danger);
}

/* 
.top .close {
    display: none;
} */

/* for sidebar */

.left-side .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;

}

.left-side h3 {
    font-weight: 500;
}

.left-side .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    /* margin-left: 2rem; */
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}

.left-side .sidebar a span {
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

.left-side .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.left-side .sidebar a.active {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    /* border-left: 5px solid var(--clr-primary); */
}

.left-side .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

/* created */
.left-side .sidebar a.active:hover {
    color: var(--clr-info-dark);
    /* background-color: var(--clr-white); */
}

/* created ends*/
.left-side .sidebar a:hover {
    color: var(--clr-primary);

}

.left-side .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease;
}

/* ------------------- main------------------- */
/* for whole main */
main {
    margin-top: 1.4rem;
    width: auto;
}

/* for input of date  */
main input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--clr-dark);
}

/* for date */
main .date {
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

/* for insights */
main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*to make 3 fractions*/
    gap: 0.5rem;
    /*created*/
    /* gap: 1.6rem;  */
    width: 97%;
    /*created*/
}

/* for all divs of insights */
main .insights>div {
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

/* to remove box shadow when hover */
main .insights>div:hover {
    box-shadow: none;
}

/* for icons of insights */
main .insights>div span {
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    padding-bottom: 0.4rem;
    /*created*/
    font-size: 1.5rem;
    /*changed*/
    /* font-size: 2rem;*/
    /* real */
}

main .insights>div.Expenses span {
    background: var(--clr-danger);
}

main .insights>div.income span {
    background: var(--clr-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main .insights>div .middle h1 {
    font-size: 1.6rem;
}

main h1 {
    color: var(--clr-dark);
}

main .insights h1,
h3 {
    color: var(--clr-dark);
}

main .insights p {
    color: var(--clr-dark);
}

main .insights .progress {
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50px;
}

main .insights svg {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
}

main .insights svg circle {
    fill: none;
    stroke: var(--clr-primary);
    transform: rotate(270, 80, 80);
    stroke-width: 5;
}

main .insights .sales svg circle {
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}

main .insights .Expenses svg circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 150;
}

main .insights .income svg circle {
    stroke: var(--clr-success);
}

main .insights .progress .number {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent_order {
    margin-top: 2rem;
}

main .recent_order h2 {
    color: var(--clr-dark);
}

main .recent_order table {
    background-color: var(--clr-white);
    width: 97%;
    /*created*/
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    color: var(--clr-dark);
}

main .recent_order table:hover {
    box-shadow: none;
}

main table tbody tr {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main table tbody td {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent_order a {
    text-align: center;
    display: block;
    margin: 1rem;
}

/* ------------------- main ends------------------- */

/*-------------- right side --------------*/

.right-side {
    margin-top: 1.4rem;
}

.right-side h2 {
    color: var(--clr-dark);
}

.right-side .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right-side .top button {
    display: none;
}

.right-side .theme-toggler {
    background-color: var(--clr-white);
    justify-content: space-between;
    height: 1.6rem;
    width: 4.2rem;
    display: flex;
}

.right-side .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* created */
.right-side .theme-toggler .active {
    background-color: var(--clr-primary);
    color: #fff;
}

/* created */
.right-side .top .profile {
    display: flex;
    gap: 2rem;
    text-align: center;
}

.right-side .info h3 {
    color: var(--clr-dark);
}

.right-side .item h3 {
    color: var(--clr-dark);
}

/* recent updates */
.right-side .recent-updates {
    margin-top: 1.2rem;
    margin-left: -5px;
    /*created*/
    width: 100%;
    /*created*/

}

.right-side .recent-updates .updates {
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

.right-side .recent-updates .updates:hover {
    box-shadow: none;
}

.right-side .recent-updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* recent updates ends*/

/* sales analytics */
.right-side .sales-analytics .item {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.right-side .sales-analytics .item:hover {
    box-shadow: none;
}

.right-side .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--clr-whtite);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    background-color: coral;
}

.right-side .sales-analytics .item:nth-child(3) .icon {
    background-color: var(--clr-success);
}

.right-side .sales-analytics .item:nth-child(4) .icon {
    background-color: var(--clr-danger);
}

.right-side .sales-analytics .item .right {
    margin-left: 15px;
    display: flex;
}

.add-products div {
    display: flex;
    height: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px dashed;
    color: var(--clr-dark-variant);
    margin-bottom: 40px;
}

/* sales analytics ends */
/* right side  ends*/




/* -------------------media querry------------- */
/* we have to apply media querry for laptop and mobile */
/*------------- first create tablet column---------- */
@media screen and (max-width:1200px) {
    .Container {
        width: 94%;
        grid-template-columns: 7rem auto 14rem;
    }

    /* to make the text on the left side bar invisible at this screen , only logo is visible */
    .left-side .top .logo span {
        display: block;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    /* for main  */
    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }
}

/*--------------- media for mobile-------------- */

@media screen and (max-width :768px) {
    .Container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    aside{
        /* to make the sidebar fixed less then 768px */
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        /* make the display none so that we can again make it work */
        display: none;
        left: -100px;
        animation: menuAnimation  1s forwards;
    }

    /* for transitions */
    @keyframes menuAnimation {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;
        /* background-color: #41f1b6; */
    }

    aside .log h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .top div.close span {
        display: inline;
        position: absolute;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }

    .right-side .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background-color: var(--clr-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--clr-white);
        margin: 0;
        height: 4.6rem;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        padding: 40px;
    }

    .main .recent-order {
        padding: 30px;
        margin: 0 auto;
    }

    .right .profile {
        position: absolute;
        left: 70%;
    }

    .right-side .recent-updates {
        padding: 30px;
    }

    .right-side .sales-analytics {
        padding: 30px;
    }

    .add-products {
        padding: 30px;

    }

    /* for toggle button */
    .right-side .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }
}